* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Main Styling */
  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3 {
    padding-bottom: 20px;
  }
  
  p {
    margin: 10px 0;
  }
  
  .container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 15px;
  }
  
  .text-primary {
    color: #ffff33;
  }
  
  .first-par {
    font-size: 20px;
  }
  
  .btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #ffff33;
    color: #333;
  }
  
  .btn-light {
    background: #f4f4f4;
    color: #333;
  }
  
  .bg-light {
    background: #f4f4f4;
    color: #333;
  }
  
  .bg-primary {
    background: #f0e87d;
    color: #333;
  }
  
  .bg-dark {
    background: #333;
    color: #fff;
  }
  
  .py-1 {
    padding: 10px 0;
  }
  .py-2 {
    padding: 20px 0;
  }
  .py-3 {
    padding: 50px 0;
  }
  
  .l-heading {
    line-height: 1.2em;
    font-size: 40px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  /* Navbar */
  
  #navbar {
    background-color: #333;
    color: #fff;
    overflow: auto;
  }
  
  #navbar a {
    color: #fff;
  }
  
  #navbar .logo {
    float: left;
    padding-top: 20px;
  }
  
  #navbar ul {
    list-style: none;
    float: right;
  }
  
  #navbar ul li {
    float: left;
  }
  
  #navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
  }
  
  #navbar ul li a:hover,
  #navbar ul li a.current {
    background: #444;
    color: #ffff33;
  }
  
  /* Main */
  
  #main {
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("../slike/naslovna.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
  }
  
  #main .main-content {
    color: #fff;
    text-align: center;
    padding-top: 170px;
  }
  
  #main .main-content h1 {
    font-size: 60px;
    line-height: 1.2em;
  }
  
  #main .main-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
  }

 /* Home info */

#home-info {
  height: 350px;
  display: flex;
}

#home-info .info-content {
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 60px 30px;
  overflow: hidden;
}

#home-info .info-content p {
  padding-bottom: 30px;
}

/* Features */

#features i:hover {
  transform: scale(1.2);
}

.boxes {
  display: flex;
  height: 250px;
}

.box {
  width: 33.3%;
  padding: 55px;
  text-align: center;
}

.box i {
  margin-bottom: 10px;
  margin-top: -10px;
}

/* Footer */

#main-footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#home-footer {
  display: flex;
  background: #444;
  height: 150px;
  justify-content: center;
  align-items: center;
}

#home-footer .icons {
  width: 15%;
  text-align: center;
}

#home-footer .icons a {
  color: #f0e87d;
}

#home-footer .first i:hover {
  color: #3b5998;
  transform: scale(1.3);
}

#home-footer .second i:hover {
  color: #c13584;
  transform: scale(1.3);
}

#home-footer .third i:hover {
  color: #1da1f2;
  transform: scale(1.3);
}

#home-footer .fourth i:hover {
  color: red;
  transform: scale(1.3);
} 

/* O nama */

#about-info .info-left {
  float: left;
  width: 50%;
  min-height: 100%;
  margin-top: 15px;
}

#about-info .info-left p {
  padding-bottom: 15px;
  font-size: 18px;
}

#about-info .info-right {
  float: right;
  min-height: 100%;
  margin-top: 15px;
}

#about-info .info-right img {
  width: 480px;
  height: 330px;
  margin-left: 20px;
  border-radius: 50%;
  border: 5px solid #f0e87d;
}

#about-info .info-right img:hover {
  opacity: 0.8;
  transform: scale(1.04);
}

/* Shop */

#shop {
  height: 100%;
  background: url("../slike/aboutslika.jpg") no-repeat center center/cover;
  padding-top: 100px;
}

#shop h1 {
  text-align: center;
  margin-top: 5px;
  background: whitesmoke;
  border-radius: 15px;
  margin-bottom: 15px;
  padding-top: 20px;
  opacity: 0.8;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#shop .shop-flex {
  display: flex;
}

#shop .product {
  height: 400px;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
  opacity: 0.9;
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom: 40px;
  background: whitesmoke;
}

#shop .product img {
  height: 200px;
  width: 230px;
  display: block;
  margin: auto;
}

#shop .mob {
  margin-left: 45%;
}

#shop .product h4 {
  text-align: center;
  color: gray;
}

#shop .product h3 {
  text-align: center;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#shop .price {
  text-align: center;
  color: gray;
  margin-top: -15px;
}

#main-footer-pod {
  height: 270px;
  text-align: center;
  background-color: #262626;
  color: #fff;
  padding: 20px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main-footer-pod .flex-podaci {
  display: flex;
  margin-top: 10px;
}

#main-footer-pod .shopfooter,
.location,
.classes,
.contactfooter {
  width: 25%;
}

#main-footer-pod .classes p {
  text-align: center;
  padding-left: 20px;
  margin-top: -5px;
}

#main-footer-pod h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: burlywood;
}

#main-footer-pod ul {
  list-style: none;
  padding-bottom: 5px;
}

#main-footer-pod .mapouter {
  padding-left: 50px;
  padding-top: -5px;
}

/* Forma */

#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea,
#contact-form select {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea {
  height: 150px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  border-color: #f0e87d;
}

p.anim {
  animation-name: citat;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes citat {
  0% {
    color: #fff;
  }

  50% {
    color: #444;
  }

  100% {
    color: #f0e87d;
  }
}

.page {
  width: 100%;
  height: 100%;
  margin-top: -32px;
  background-color: #ddd;
}

.gallery-container {
  padding-top: 30px;
  width: 90%;
  margin: 32px auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(11, 5vw);
  grid-gap: 8px;
  background-color: #ddd;;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__img:hover {
  transform:scale(1.02);
  opacity: 0.85;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--7 {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 12;
}

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 100px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 175px;
}

.gmap_iframe {
  height: 200px !important;
}